@page
@model ContatoModel
@{
    ViewData["Title"] = "CONTATO";
}
<h1>@ViewData["Title"]</h1>

<H2>CONTATO</H2>
<H2>CONTATO</H2>
<H2>CONTATO</H2>
<H2>CONTATO</H2>
<H2>CONTATO</H2>
<H2>CONTATO</H2>
<div class="container">
    novo item
</div>