@page
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="panel ">
        Teste operação com integração continua gitflow , github actions
    </div>
    <dl>
        <dt>GitFlow</dt>
        <dd>Git interaction</dd>
        <dt>Git Actions</dt>
        <dd>pull request based</dd>
    </dl>
    <hr>
    <div>
        teste renan
    </div>
</div>
<div class="text-center">
   
</div>
